                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
@use 'sass:map';
@use 'partials/variables'as v;
@use 'partials/mixin' as m;
@use 'partials/fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.8rem;
}

body {
  @include m.darkTheme();
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 5%;
}

a {
  text-decoration: none;
  color: map-get(v.$colors, cl-light-blue);
  transition: all .3s ease;
  
  &:hover {
    color: map-get(v.$colors, cl-green);
  }
}

.flashcard__grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1rem;
	align-items: center;
}

.flashcard {
	transform-style: preserve-3d;
	border-radius: .25rem;
	transform: perspective(1000px) rotateY(0) translateY(0);
	transition: 150ms;
	cursor: pointer;
	height: 200px;
	&:hover {
		transform: translateY(-2px);
	}
	
	.front, .back {
		backface-visibility: hidden;
		padding: 1rem;
	}
	
	.back {
		transform: rotateY(180deg);
	}
	
	&.flip {
		transform: rotateY(180deg);
	}
	
	.flashcard__option {
		font-size: .90rem;
	}
}